#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 1px solid black;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  transition: 500ms;
}
.card:hover {
  transform: scale(1.1);
}
.pokemonGallery {
  display: grid;
  grid-template-columns: repeat(5, 0.7fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 30px;
  padding: 0 40px;
}
